*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

div.container {
    width: 16rem;
    height: 16rem;

    display: flex;
    flex-wrap: wrap;
}

div.container > div {
    flex: 1 1 4rem;
    border: 0.5rem solid black;
}