*, *::before, *::after { box-sizing: inherit; }

div.container {
    
    width: 16rem;
    height: 16rem;
    border: 0.3rem solid darkblue;

    display: flex;
    flex-wrap: wrap;
}

div.container > div {
    box-sizing: border-box;
    border: 1px solid #46454733;
    
    flex: 1 1 4rem;
}